{% extends 'base.html' %}

{% block content %}
<style type="text/css">

	@media (max-width: 768px) { 
		.right-column{
			margin-left: 0px;
		}
	}

	@media (min-width: 768px) { 
		.right-column{
			margin-left: 20px;
		}
	}

	.meeting-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}

	.left-column{
		padding:0px;
	}

	.right-column{
		padding:0px;
	}
	.lead{
		font-size: 17px;
	}
</style>
<div class="container">
	<div class="row">

		<!-- blog feed -->
		<div class="left-column col-lg-7 offset-lg-1">


			<div class="d-lg-none mb-3">
				<div class="card m-auto d-flex flex-column p-3">
					<img class="img-fluid d-block m-auto pb-2" src="https://i.ibb.co/s54bdnz/Elder-Aid-Logo-1.png" width="72" height="72">
					<p class="lead">A virtual assistant created to help make technology more accessible for the Elderly</p>
					<p class="m-auto"><a class="btn btn-danger btn-lg" href="{% url 'meetings:create' %}">Create post</a></p>
				</div>
			</div>
            {% if meeting_posts %}
                {% for post in meeting_posts %}
                    <div class="meeting-post-container">
                        {% include 'meetings/snippets/meeting_post_snippet.html' with meeting_posts=post %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="meeting-post-container">
                    {% include 'meetings/snippets/meeting_post_snippet.html' with query=query %}
                </div>
            {% endif %}

		{% include 'meetings/snippets/meeting_post_pagination.html' with meeting_posts=meeting_posts %}
		
		</div>

		<!-- Right 'create post' column  -->
		<div class="right-column col-lg-3 d-lg-flex d-none flex-column">

			<div class="card create-post-bar d-flex flex-column p-3">
				<img class="img-fluid d-block m-auto pb-2" src="https://i.ibb.co/s54bdnz/Elder-Aid-Logo-1.png" width="72" height="72">
				<p class="lead">A virtual assistant created to help make technology more accessible for the Elderly</p>
				<p class="m-auto"><a class="btn btn-danger btn-lg" href="{% url 'meetings:create' %}">Create post</a></p>
			</div>
		
		</div>

	</div>
</div>

{% endblock content %}


